# *Extract, Transform, and Load (ETL) movies data*
### *Overview*
In this project I will create a an automated pipeline that takes in scraped data from Wikipedia and IMDB, then transform and load it o an already existing PostgreSQL database.

### *Worflow*
<ol>
    <li>Read three data files (IMDB- Wikipedia- Ratings).</li>
    <li>Extract and Transform data.</li>
    <li>Load data to a PostgreSQL Movie Database.</li>
</ol>

### *Prerequisites*
Software: Python, Anaconda Navigator, Conda, Jupyter Notebook, PostgreSQL, pgAdmin 4

### *Imports*

In [20]:
import pandas as pd 
import numpy as np
import json
import re
import sqlalchemy 
import time

## *1. Read three data files (IMDB- Wikipedia- Ratings)*

In [2]:
# Read in Kaggle csv file 
kaggle_df= pd.read_csv('data/movies_metadata.csv', low_memory= True)

# Read in Ratings csv file 
ratings_df= pd.read_csv('data/ratings.csv')

# Read in the Wikipedia json file 
with open('data/wikipedia-movies.json') as f:
    wiki_movies_raws= json.load(f)

C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3071112830.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  kaggle_df= pd.read_csv('data/movies_metadata.csv', low_memory= True)

In [3]:
kaggle_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
kaggle_df.columns.to_list()

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [5]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [6]:
ratings_df.columns.to_list()

['userId', 'movieId', 'rating', 'timestamp']

## 2. *Extract and Transform data*
### 2.1 Wikipedia data

###### Clean movie function

In [7]:
def clean_movie(movie):
    
    #create a non-destructive copy
    movie = dict(movie) 
    
    # Define function to change column name
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
            
    # consolidate columns
    change_column_name("Directed by", "Director")
    change_column_name("Country of origin", "Country")
    change_column_name("Distributed by", "Distributor")
    change_column_name("Edited by", "Editor(s)")
    change_column_name("Music by", "Composer(s)")
    change_column_name("Produced by", "Producer(s)")
    change_column_name("Producer", "Producer(s)")
    change_column_name("Directed by", "Director")
    change_column_name("Productioncompany ", "Production company(s)")
    change_column_name("Productioncompanies ", "Production company(s)")
    change_column_name("Original release", "Release date")
    change_column_name("Released", "Release date")
    change_column_name("Length", "Running time")
    change_column_name("Theme music composer", "Composer(s)")
    change_column_name("Adaptation by", "Writer(s)")
    change_column_name("Screen story by", "Writer(s)")
    change_column_name("Screenplay by", "Writer(s)")
    change_column_name("Story by", "Writer(s)")
    change_column_name("Written by", "Writer(s)")

    return movie

###### General Cleaning

In [8]:
# filter out TV shows and movies whitout a specified director or IMDB link
wiki_movies = [movie for movie in wiki_movies_raws \
               if ('Director' in movie or 'Directed by' in movie) \
               and 'imdb_link' in movie \
               and "No. of episodes" not in movie]

# Apply the clean_movie function on all movies by using a comprehensive list
clean_wiki_movies = [clean_movie(movie) for movie in wiki_movies]

# Read in the cleaned movies list as a DataFrame.
clean_wiki_movies_df = pd.DataFrame(clean_wiki_movies)

# This is an IMDB link "https://www.imdb.com/title/tt0099012/", you can notice that the movie ID (7 digits)
# comes after "tt" in almost all links. the following try catch block extract the IMDB ID from the
# link and add a column "imdb_id" before dropping duplicates.
try:
    clean_wiki_movies_df["imdb_id"] = clean_wiki_movies_df['imdb_link'].str.extract(r"(tt\d{7})")
    clean_wiki_movies_df.drop_duplicates(subset="imdb_id", inplace=True)
except Exception as e: print(e)

# Keep columns that the sum of missing values is less than 90% of the total number of rows in the dataframe
df_percentage= 0.9 *len(clean_wiki_movies_df)
non_null_columns = [column for column in clean_wiki_movies_df.columns \
                    if clean_wiki_movies_df[column].isnull().sum() < df_percentage]
wiki_movies_df = clean_wiki_movies_df[non_null_columns]

###### Box Office column cleaning:

In [9]:
# Create a variable to store "box office" non null values
box_office = wiki_movies_df["Box office"].dropna()
    
# Convert the "box office" values to a list of strings ()
box_office = box_office.apply(lambda x: ' '.join(x) if x == list else x)

# Regular expression that matches the first form of "box office"
form_one = r"\$\s*\d+\.?\d*\s*[mb]illi?on"

# Regular expression that matches the second form of "box office"
form_two = r"\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)"

# Add the parse_dollars function.
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
        # remove dollar sign and "million"
        s = re.sub('\$|\s|[a-zA-Z]', '', s)
        # convert to float and multiply by a million
        value = float(s) * 10**6
        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
        # remove dollar sign and "billion"
        s = re.sub('\$|\s|[a-zA-Z]', '', s)
        # convert to float and multiply by a billion
        value = float(s) * 10**9
        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):    
        # remove dollar sign and commas
        s = re.sub('\$|,', '', s)
        # covert to float
        value = float(s)
        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan
    

# Clean the box office column 
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df.drop('Box office', axis=1, inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15836\437290218.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\437290218.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df.drop('Box office', axis=1, inplace=True)

###### Budget column cleaning

In [10]:
# Drop null values from 'Budget' column and parse
budget = wiki_movies_df['Budget'].dropna().apply(lambda x: ' '.join(x) if x == list else x)

# Remove values between dollar sign and a hyphen
budget = budget.str.replace(r'\$.*[---–](?![a-z])', '$', regex=True)

# Handle the citation references
budget = budget.str.replace(r'\[\d+\]\s*', '')

# Apply extract and parsing
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', \
                                              flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df.drop('Budget', axis=1, inplace=True)

C:\Users\pc\anaconda3\lib\site-packages\pandas\core\strings\object_array.py:158: FutureWarning: Possible set difference at position 6
  pat = re.compile(pat, flags=flags)
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3098275445.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  budget = budget.str.replace(r'\[\d+\]\s*', '')
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3098275445.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', \
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3098275445.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df.drop('Budget', axis=1, inplace=True)

###### Release data cleaning

In [11]:
# Parse Release Date
release_date = wiki_movies_df["Release date"].dropna().apply(lambda x: " ".join(x) if type(x) == list else x)

# Regular expressions to match date formats
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

# Apply extract and parsing
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.\
    extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

wiki_movies_df.drop('Release date', axis=1, inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3674671988.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.\
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\3674671988.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df.drop('Release date', axis=1, inplace=True)

###### Running time cleaning

In [12]:
# Parse Running Time
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: " ".join(x) if type(x) == list else x)

# Extract running times
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

# Change to numeric and fill nulls with 0
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

# Parse data
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
wiki_movies_df.drop('Running time', axis=1, inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_15836\1110220924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
C:\Users\pc\AppData\Local\Temp\ipykernel_15836\1110220924.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki_movies_df.drop('Running time', axis=1, inplace=True)

### 2.2 Kaggle metadata

In [13]:
# Keep columns where 'adult' is False and drop the 'adult' column
kaggle_df = kaggle_df[kaggle_df['adult'] == 'False'].drop('adult', axis=1)

# Convert data types
kaggle_df['video'] = kaggle_df['video'] == 'True'
kaggle_df['budget'] = kaggle_df['budget'].astype(int)
kaggle_df['id'] = pd.to_numeric(kaggle_df['id'], errors='raise')
kaggle_df['popularity'] = pd.to_numeric(kaggle_df['popularity'], errors='raise')
kaggle_df['release_date'] = pd.to_datetime(kaggle_df['release_date'])

### 2.3 Merge data

In [14]:
# Merge the two DataFrames into the movies DataFrame.
movies_df = pd.merge(wiki_movies_df, kaggle_df, on='imdb_id', suffixes=['_wiki','_kaggle'])
movies_df.head()

,url,year,imdb_link,title_wiki,Based on,Starring,Cinematography,Country,Language,Director,...,release_date_kaggle,revenue,runtime,spoken_languages,status,tagline,title_kaggle,video,vote_average,vote_count
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,United States,English,Renny Harlin,...,1990-07-11,20423389.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Kojak. Columbo. Dirty Harry. Wimps.,The Adventures of Ford Fairlane,False,6.2,72.0
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,United States,English,James Foley,...,1990-08-24,0.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All they risked was everything.,"After Dark, My Sweet",False,6.5,17.0
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,United States,"[English, Lao]",Roger Spottiswoode,...,1990-08-10,33461269.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The few. The proud. The totally insane.,Air America,False,5.3,146.0
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,United States,English,Woody Allen,...,1990-12-25,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice,False,6.3,57.0
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,US,English,John Cornell,...,1990-12-21,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who does he think he is?,Almost an Angel,False,5.6,23.0

### 2.4 Additional cleaning

In [15]:
# Drop unnecessary columns from the merged DataFrame.
movies_df.drop(columns=['title_wiki','release_date_wiki', 'Language', 'Production company(s)'], inplace=True)

# Function to replace kaggle nulls by wiki values then drop wiki column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column], axis=1)
    df.drop(columns=wiki_column, inplace=True)

# Call the function in Step 5 with the DataFrame and columns as the arguments.
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

# Drop 'video' column
movies_df.drop('video', axis=1, inplace=True)

# Reorder the columns
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                   'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                   'genres','original_language','overview','spoken_languages','Country',
                   'production_companies','production_countries','Distributor',
                   'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on']]
# Rename columns
movies_df.rename({'id':'kaggle_id',
              'title_kaggle':'title',
              'url':'wikipedia_url',
              'budget_kaggle':'budget',
              'release_date_kaggle':'release_date',
              'Country':'country',
              'Distributor':'distributor',
              'Producer(s)':'producers',
              'Director':'director',
              'Starring':'starring',
              'Cinematography':'cinematography',
              'Editor(s)':'editors',
              'Writer(s)':'writers',
              'Composer(s)':'composers',
              'Based on':'based_on'
             }, axis='columns', inplace=True)

In [16]:
movies_df.head()

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,runtime,budget,...,production_countries,distributor,producers,director,starring,cinematography,editors,writers,composers,based_on
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.imdb.com/title/tt0098987/,104.0,49000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",20th Century Fox,"[Steve Perry, Joel Silver]",Renny Harlin,"[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,Michael Tronick,"[David Arnott, James Cappe]","[Cliff Eidelman, Yello]","[Characters, by Rex Weiner]"
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",https://www.imdb.com/title/tt0098994/,114.0,6000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Avenue Pictures,"[Ric Kidney, Robert Redlin]",James Foley,"[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,Howard E. Smith,"[James Foley, Robert Redlin]",Maurice Jarre,"[the novel, After Dark, My Sweet, by, Jim Thom..."
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),https://www.imdb.com/title/tt0099005/,112.0,35000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",TriStar Pictures,Daniel Melnick,Roger Spottiswoode,"[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[John Bloom, Lois Freeman-Fox]","[John Eskow, Richard Rush]",Charles Gross,"[Air America, by, Christopher Robbins]"
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),https://www.imdb.com/title/tt0099012/,102.0,12000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Orion Pictures,Robert Greenhut,Woody Allen,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,Susan E. Morse,Woody Allen,NaN,NaN
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,https://www.imdb.com/title/tt0099018/,95.0,25000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Paramount Pictures,John Cornell,John Cornell,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,David Stiven,Paul Hogan,Maurice Jarre,NaN

### 3. Load data to a PostgreSQL Movie Database

In [22]:
# Database engine connection
connection_string = 'postgresql://postgres:ETLJNPYTHON@localhost:5432/movies_etl'

engine = sqlalchemy.create_engine(connection_string)

# Save movies_df to SQL table
movies_df.to_sql(name='movies', con=engine, if_exists='replace')

52